{% extends "base.html.twig" %}

{% block body %}
    <section id="about-us">
        <div class="container">
<div class="center wow fadeInDown">
        <h2>About Mediaff.com</h2>
        <p class="lead">Before we get to know our customer better, we would like to tell some cool facts about Mediaff.com</p>
</div>

<!-- about us slider -->
<div id="about-slider">
    <div id="carousel-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators visible-xs">
            <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-slider" data-slide-to="1"></li>
            <li data-target="#carousel-slider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="{{ asset('images/slider_one.jpg') }}" class="img-responsive" alt=""> 
            </div>
            <div class="item">
                <img src="{{ asset('images/slider_one.jpg') }}" class="img-responsive" alt=""> 
            </div> 
            <div class="item">
                <img src="{{ asset('images/slider_one.jpg') }}" class="img-responsive" alt=""> 
            </div> 
        </div>
        <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i> 
        </a>
        <a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
            <i class="fa fa-angle-right"></i> 
        </a>
    </div> <!--/#carousel-slider-->
</div><!--/#about-slider-->


<!-- Our Skill -->
<div class="skill-wrap clearfix">
    <div class="center wow fadeInDown">
            <h2>Our Skill</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="joomla-skill">                                   
                    <p><em>90%</em></p>
                    <p>Development</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="html-skill">                                  
                    <p><em>95%</em></p>
                    <p>Email Markeging</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="css-skill">                                    
                    <p><em>80%</em></p>
                    <p>Big Data</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                <div class="wp-skill">
                    <p><em>90%</em></p>
                    <p>Campaign Management</p>                                     
                </div>
            </div>
        </div>
    </div>
</div><!--/.our-skill-->
<!-- our-team -->
<div class="team">
    <div class="center wow fadeInDown">
        <h2>Mediaff Team Values</h2>
        <p class="lead">Our team is one of a kind group of dedicated professionals, that are working day and night to make sure our partners get the most ROI on their offers and our subscribers get industry's higest added values. Below team values help us do what we do and be best with it</p>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 col-sm-6">	
            <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="media">
                    <div class="pull-left">
                        <a href="#"><img class="media-object" src="{{ asset('images/man1.jpg') }}" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>Dedication to:</h4>
                        <ul class="tag clearfix">
                            <li class="btn"><a>Our partners</a></li>
                            <li class="btn"><a>Our subscribers</a></li>
                            <li class="btn"><a>Our mission</a></li>
                            <li class="btn"><a>Our values</a></li>
                        </ul>
                    </div>
                </div><!--/.media -->
                <p>Dedication is what makes us different from the rest. Whether is it related to offers we create or campaign we manage - we are dedicated to our subscribers, partners and success</p>
            </div>
        </div><!--/.col-lg-4 -->
        <div class="col-md-4 col-sm-6 col-md-offset-2">	
            <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="media">
                    <div class="pull-left">
                        <a href="#"><img class="media-object" src="{{ asset('images/man2.jpg') }}" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>Hard Work to:</h4>
                        <ul class="tag clearfix">
                            <li class="btn"><a>be the best</a></li>
                            <li class="btn"><a>assist your growth</a></li>
                            <li class="btn"><a>support your needs</a></li>
                            <li class="btn"><a>promote success</a></li>
                        </ul>
                    </div>
                </div><!--/.media -->
                <p>Here in Mediaff we believe that though intelligence and hard work we are able to achive great many things. That is why every single day we are working hard to make sure you get the best service out there</p>
            </div>
        </div><!--/.col-lg-4 -->					
    </div> <!--/.row -->
    <div class="row team-bar">
            <div class="first-one-arrow hidden-xs">
                    <hr>
            </div>
            <div class="first-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
            </div>
            <div class="second-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
            </div>
            <div class="third-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
            </div>
            <div class="fourth-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
            </div>
    </div> <!--skill_border-->       

    <div class="row clearfix">   
        <div class="col-md-4 col-sm-6 col-md-offset-2">	
            <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="media">
                    <div class="pull-left">
                        <a href="#"><img class="media-object" src="{{ asset('images/man3.jpg') }}" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>High-end technology to</h4>
                        <ul class="tag clearfix">
                            <li class="btn"><a>provide assistance</a></li>
                            <li class="btn"><a>promote growth</a></li>
                            <li class="btn"><a>help you scale</a></li>
                            <li class="btn"><a>satisfy needs</a></li>
                        </ul>
                    </div>
                </div><!--/.media -->
                <p>Advanced technology, developed and utilized in Mediaff, help businesses to reach their potential customers in more sophisticated and targeted manner to insure high ROI </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-md-offset-2">
            <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="media">
                    <div class="pull-left">
                        <a href="#"><img class="media-object" src="{{ asset('images/man4.jpg') }}" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>Transparency with </h4>
                        <ul class="tag clearfix">
                            <li class="btn"><a>Partners</a></li>
                            <li class="btn"><a>Subscribers</a></li>
                            <li class="btn"><a>Vendors</a></li>
                            <li class="btn"><a>Ourselfs</a></li>
                        </ul>
                    </div>
                </div><!--/.media -->
                <p>Mediaff.com adopted principles of openness and fairness with with everyone we do business with as we believe this is the only was to promote mutual benefit and success </p>
            </div>
        </div>
    </div>	<!--/.row-->
    </div><!--section-->
</div><!--/.container-->
</section><!--/about-us-->
{% endblock %}
