{% extends "base.html.twig" %}

{% block body %}
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active bcimageone">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Revolutionary online marketing platform</h1>
                                    <h2 class="animation animated-item-2">Loads of high converting offers from top vendors</h2>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ asset('images/slider/img1.png') }}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item bcimagetwo">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Campaign management for dedicated partners</h1>
                                    <h2 class="animation animated-item-2">Let us manage your e-marketing campaigns to insure highest ROI</h2>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ asset('images/slider/img2.png') }}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item bcimagethree">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Marketing data management</h1>
                                    <h2 class="animation animated-item-2">Issues with your marketing data - reach out to us for a quote</h2>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{{ asset('images/slider/img3.png') }}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>What we do</h2>
                <p class="lead">Below are just some of the solutions we provide for both advertising partners as well as our dedicated customer base</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>Email Marketing</h2>
                            <h3 style="font-size: 12px" >We connect our ever growing subscriber base with top partner offers</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>Ad management</h2>
                            <h3 style="font-size: 12px">We manage email campaigns for our partners for industry's highest ROI</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>Data solutions</h2>
                            <h3 style="font-size: 12px">Advanced customer data management solutions</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2>Campaign consulting</h2>
                            <h3 style="font-size: 12px">Always have you campaigns go out the best way</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Advanced matching</h2>
                            <h3 style="font-size: 12px">High-end offer matching tool provide industry's leading conversion rates</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Dedicated support</h2>
                            <h3 style="font-size: 12px">Mediaff.com is always there for any assistance or partnership</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->
	
	<section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>How we do it</h2>
                <p class="lead">This is how we manage to deliver products and services to out partners</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{ asset('images/services/services1.png') }}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Advanced analytics</h3>
                            <p>Help us manager campaings like nobody else</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{ asset('images/services/services2.png') }}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Quick execution</h3>
                            <p>Fastest development & deployment </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{ asset('images/services/services3.png') }}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Advanced tech</h3>
                            <p>Cutting-edge tools and solution ready to work</p>
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{ asset('images/services/services4.png') }}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Dedicated team</h3>
                            <p>Our team is our engine and a key to success</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{ asset('images/services/services5.png') }}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Wide coverage</h3>
                            <p>Wide pool of offers available on all devices</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{ asset('images/services/services6.png') }}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Customer Care</h3>
                            <p>We are always there to assist </p>
                        </div>
                    </div>
                </div>                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->
	
    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Recent Works</h2>
                <p class="lead">Below are some of the recent offers we have running to increase added value of e-marketing service for both subscribers and partners </p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ asset('images/portfolio/recent/item1.png') }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://www.travelflex.com" target="_blank">TravelFlex.com</a> </h3>
                                <p>A subscription based network dedicated to traveling, tourism and travel offers</p>
                                <a class="preview" href="http://www.travelflex.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ asset('images/portfolio/recent/item2.png') }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://www.jobbery.com" target="_blank">Jobbery.com</a></h3>
                                <p>Job offers in the email, job consulting and much more for job seekers in one place</p>
                                <a class="preview" href="http://www.jobbery.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ asset('images/portfolio/recent/item3.png') }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://www.smartedupicks.com" target="_blank">SmartEduPicks.com</a></h3>
                                <p>A premium subscription network dedicated to education/online courses & trainings</p>
                                <a class="preview" href="http://www.smartedupicks.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ asset('images/portfolio/recent/item4.png') }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://www.finsensitive.com" target="_blank">FinSensitive.com</a></h3>
                                <p>Email marketing resource dedicated to stocks, shared and capital market in general</p>
                                <a class="preview" href="http://www.finsensitive.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ asset('images/portfolio/recent/item5.png') }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://www.insuranceguidance.com" target="_blank">InsuranceGuide.com</a></h3>
                                <p>All around insurance market, including top offers, vendors and market trends</p>
                                <a class="preview" href="http://www.insuranceguidance.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ asset('images/portfolio/recent/item6.png') }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://www.officejobsguru.com" target="_blank">OfficeJobsGuru.com</a></h3>
                                <p>Getting a job in the office has never been that easy. Get exclusive access to job offers from top employers</p>
                                <a class="preview" href="http://www.officejobsguru.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ asset('images/portfolio/recent/item7.png') }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://www.remotejobsforall.com" target="_blank">RemoteJobsForAll.com</a></h3>
                                <p>A premium subscription network dedicated to off-site jobs and alternative employment</p>
                                <a class="preview" href="http://www.remotejobsforall.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{ asset('images/portfolio/recent/item8.png') }}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="http://www.relaxst.com" target="_blank">Relaxst.com</a></h3>
                                <p>Loads of cool externatinment content available through our premium email marketing campaigns</p>
                                <a class="preview" href="http://www.relaxst.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->

    <section id="middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInDown">
                    <div class="skill">
                        <h2>Our Skills</h2>
                        <p>Here in Mediaff.com we have adopted the highest standards of customer service. That is why we are always honest in terms of what we can do right away and what can be done in the future</p>
                        <div class="progress-wrap">
                            <h3>Email Markeging</h3>
                            <div class="progress">
                              <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="bar-width">100%</span>
                              </div>

                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3>E-marketing data management</h3>
                            <div class="progress">
                              <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                               <span class="bar-width">95%</span>
                              </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3>Affiliate software development</h3>
                            <div class="progress">
                              <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="bar-width">90%</span>
                              </div>
                            </div>
                        </div>
                        <div class="progress-wrap">
                            <h3>Customer Service</h3>
                            <div class="progress">
                              <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="bar-width">100%</span>
                              </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
                <div class="col-sm-6 wow fadeInDown">
                    <div class="accordion">
                        <h2>Why People like us?</h2>
                        <div class="panel-group" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading active">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                        Large selection of offers
                                        <i class="fa fa-angle-right pull-right"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseOne1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="media accordion-inner">
                                            <div class="media-body">
                                                <h4>Amount and quality of offers is amazing </h4>
                                                <p>Constantly expanding pool of offers will potentially satisfy needs of even the most demanding subscribers</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  Swift customer service
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Not sure where to get started, send us an email and one of our dedicates customer support staff will get in touch with you and help you set up within minutes
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Advanced technology working for you
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Mediaff's high end data processing and matching algorithms are working 24/7 make sure you get the highest ROI on your marketing campaigns
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  Highest compliance standards
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
                                Every single marketing campaign deployed by Mediaff if of the highest standards, which allows is to maintain great reputation within both partners and market to base
                              </div>
                            </div>
                          </div>
                        </div><!--/#accordion1-->
                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#middle-->

    <section id="content">
        <div class="container">
            <div>
                <h2 style="text-align:center;padding-bottom:20px;">What makes us different from the rest?</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 wow fadeInDown">
                   <div class="tab-wrap"> 
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">We are to promote growth</a></li>
                                    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">We are to here to assist</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">We grown when you grow</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Serving our communities</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">Multiplying success</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="{{ asset('images/tab2.png') }}">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Growth of your business is our primary concern</h2>
                                                 <p>Mediaff is contributing to growth of your business by making sure the product or service you promote hit the right audience at the right time</p>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="{{ asset('images/tab1.png') }}">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Were are here for you</h2>
                                                 <p>Whether you are not sure how to monetize your existing subscriber base, or not sure what is the best way to promote your product - drop us a line and we'll get back to you with an offer</p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab3">
                                        <p>Mediaff.com products and services evolve and scale together with your needs. Dedicated team of IT professionals is relentlessly working on providing highest level of service to existing publishers. 
                                        <br>
                                        <br>
                                        Our online marketing professionals are making sure Mediaff delivers top of the market conversion rates for all of our offers</p>
                                     </div>
                                     
                                     <div class="tab-pane fade" id="tab4">
                                        <p>By working only with top service vendors and most reliable partners, Mediaff is bringing the highest standards of service in our marketing campaigns. 
                                        <br>
                                        <br>
                                        Starting from our cutting-edge resource SmartEduPicks.com that connects it's subscribers to various education and training opportunities to Jobbery.com - revolutionary subscription network, related to employment and recruitment. </p>
                                     </div>

                                     <div class="tab-pane fade" id="tab5">
                                        <p>Mediaff assist in multiplication of success by working hard and aiming to become the best in what we do, by contributing to our community's well being, be caring about our partners and subscribers. 
                                           <br>
                                           <br>
                                           Here in Mediaff.com we are we want to promote your business to the hight is deserves to be at. As we know how persistently you've worked to line everything up and get to the point of being ready to introduce wide public to it.	
                                        </p>
                                     </div>
                                </div> <!--/.tab-content-->  
                            </div> <!--/.media-body--> 
                        </div> <!--/.media-->     
                    </div><!--/.tab-wrap-->               
                </div><!--/.col-sm-6-->

                <div class="col-xs-12 col-sm-4 wow fadeInDown">
                    <div class="testimonial">
                        <h2>Testimonials</h2>
                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="{{ asset('images/testimonials1.png') }}">
                            </div>
                            <div class="media-body">
                                <p>Starting with these guys was a 2 step process - love what they do and how they do it</p>
                                <span><strong>-Steve Parker/</strong></span>
                            </div>
                         </div>

                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="{{ asset('images/testimonials2.png') }}">
                            </div>
                            <div class="media-body">
                                <p>Some of the services are still a bit raw, but very good initiative guys</p>
                                <span><strong>-Sarah M/</strong></span>
                            </div>
                         </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->
{% endblock %}

